<% layout('../../layout/index') %> <% block('css', ` `) %>

<!-- Content Header (Page header) -->
<div class="container">
    <section class="content-header">
        <ol class="breadcrumb">
            <li>
                <a href="/"><i class="fas fa-home"></i> Home</a>
            </li>
            <li class="active">Device</li>
        </ol>
    </section>

    <!-- Main content -->

    <!-- Main content -->
    <section class="content container-fluid">
        <div class="box-header" style="margin-bottom: 15px; margin-left: -10px">
            <h3 class="box-title" style="font-size: 25px; font-weight: bold">Edit Device</h3>
        </div>
        <!-- /.box-header -->
        <div class="box">
            <div class="box-body no-padding">
                <div class="col-md-9" style="margin-bottom: 20px; margin-top: 10px">
                    <form method="post" action="/modbus-tcp/device/edit/<%= device.id %>">
                        <div class="form-row">
                            <div class="col-md-6 mb-6 col-sm-6">
                                <label>Name</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    name="name"
                                    placeholder="name..."
                                    value="<%= device.name %>"
                                />
                            </div>
                            <div class="col-md-6 mb-6 col-sm-6">
                                <label>IP</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    name="ip"
                                    placeholder="ip..."
                                    value="<%= device.ip %>"
                                />
                            </div>
                            <div class="col-md-6 mb-6 col-sm-6">
                                <label style="margin-top: 20px">Port</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    name="port"
                                    placeholder="Port..."
                                    value="<%= device.port %>"
                                />
                            </div>
                            <div class="col-md-6 mb-6 col-sm-6">
                                <label style="margin-top: 20px">Slave</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    name="slave"
                                    placeholder="slave..."
                                    value="<%= device.slave %>"
                                />
                            </div>

                            <div class="col-md-6 mb-6 col-sm-6">
                                <label style="margin-top: 20px">Device Type</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    name="fc_type"
                                    placeholder="FC Type..."
                                    value="<%= device.fc_type %>"
                                />
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-12 mb-3 col-sm-6">
                                <br />
                                <button
                                    class="btn"
                                    type="submit"
                                    style="background-color: #3c8dbc; color: white; margin-right: 10px"
                                >
                                    Save changes
                                </button>
                                <a style="background-color: #717887" class="btn" href="/modbus-tcp/device">
                                    <span style="color: white"> Cancel </span>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-3" style="margin-bottom: 20px; margin-top: 10px">
                    <img src="/img/s71200.jpg" width="200px" />
                </div>
            </div>
        </div>
    </section>
</div>

<% block('script', ` `) -%>
